@font-face {
  font-family: Typometry;
  src: url("./fonts/Typometry_Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #63c;
  --dark-color: #1a1a1a;
  --font-color: #d4d4d4;
}

body {
  background: var(--dark-color);
  width: 100vw;
  height: 100vh;
}

#pageArea {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headerLogo {
  width: 130px;
  align-self: flex-start;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(-50px);
  animation: to-origin 1.5s ease-out forwards;
}

#infoArea {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 400px;
  justify-content: space-between;
}

#textArea {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  border-left: 4px solid var(--primary-color);
  width: 900px;
  height: 100%;
  opacity: 0;
  transform: translateX(-50px);
  animation: to-origin 1.5s ease-out forwards;
}

h1 {
  font-family: Typometry;
  color: var(--font-color);
  font-weight: 200;
  font-size: 3rem;
}

h1::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: blinking 0.7s infinite;
}

#textAreaPara {
  width: 700px;
}

p {
  color: var(--font-color);
  font-size: 1.3rem;
  margin: 1.2rem 0;
  text-align: justify;
  font-weight: 400;
}

p:first-child {
  margin-top: 2.5rem;
}

button#cvButton {
  width: 200px;
  height: 40px;
  padding: 0.7rem 1.8rem;
  margin-top: 4rem;
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--font-color);
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: all 0.5s ease;
  z-index: 0;
}

button#cvButton::before {
  content: "Meu curriculum";
  position: absolute;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

button#cvButton::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease;
  border: 1px solid var(--primary-color);
}

button#cvButton:hover::before {
  transform: translate(-7px, -7px);
}

button#cvButton:hover::after {
  transform: translate(-14px, -14px);
  border: 1px solid #fff;
}

img#dummy {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 80px;
  transform: translateX(50px);
  animation: to-origin 1.5s ease forwards;
  opacity: 0;
}

img#smallDummy {
  display: none;
}

#socialMediaArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}

#footer {
  color: var(--font-color);
  font-size: 0.7rem;
  font-weight: 200;
}

.icon-link {
  margin: 0 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all .3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas-icon-style {
  color: #fff;
  font-size: 2.5rem;
  transition: all .3s;
}

.icon-link:hover {
  background-color: #63c;
  transform: translateY(-5px);
}

@media (max-width: 1450px) {
  img#dummy {
    width: 150px;
    right: 40px;
  }

  p {
    font-size: 1.1rem;
  }

  h1 {
    color: var(--font-color);
    font-weight: 200;
    font-size: 2.7rem;
  }

  #textArea {
    width: 800px;
  }
}

@media (max-width: 1250px) {
  #headerLogo {
    width: 120px;
  }

  img#dummy {
    width: 140px;
    right: 20px;
  }

  #textArea {
    width: 800px;
  }

  h1 {
    color: var(--font-color);
    font-weight: 200;
    font-size: 2.4rem;
  }

  p {
    font-size: 1.1rem;
  }

  p:first-child {
      margin-top: 1rem;
  }

  #textAreaPara {
    width: 600px;
  }

  button#cvButton {
    padding: 0.7rem 1.8rem;
    margin-top: 4rem;
    background: var(--primary-color);
    border-radius: 8px;
    color: var(--font-color);
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 0 rgb(74, 35, 153);
    transition: all .3s ease;
  }

  button#cvButton:active {
    transform: translateY(5px);
    box-shadow: none;
    transition: all .3s ease;
  }
}

@media (max-width: 1100px) {
  body {
    height: 100%;
    width: 100%;
  }

  #pageArea {
    width: 100%;
  }

  #headerLogo {
    width: 100px;
    margin: 2rem 0;
    align-self: center;
  }

  #infoArea {
    display: flex;
    position: relative;
    width: 80%;
    min-height: 400px;
    flex-wrap: wrap;
    justify-content: center;
  }

  #textArea {
    width: 80%;
    padding-left: 0;
    border-left: none;
    align-items: center;
    flex-wrap: wrap;
  }

  #textAreaPara {
    width: 100%;
  }

  img#dummy {
    display: none;
  }

  img#smallDummy {
    display: block;
    width: 80px;
    margin: 1rem auto;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  p {
    margin: 0.5rem 0;
  }
  #textAreaPara a{
    display: flex;
    text-decoration: none;
    justify-content: center;
  }

  button#cvButton {
    margin-top: 2rem;
  }

  #socialMediaArea {
    margin: 1.5rem 0;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.1rem;
  }

  #socialMediaArea {
    margin-top: 1.5rem;
  }

  #headerLogo {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  #infoArea {
    width: 100%;
  }

  #textArea {
    width: 90%;
  }
}

@keyframes blinking {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes to-origin {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
